Source: python-websockets
Section: python
Priority: optional
Maintainer: Bas Wijnen <wijnen@debian.org>
Build-Depends: debhelper (>= 9), python-all, python3-all, dh-python
Standards-Version: 3.9.5

Package: python-websockets
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-network
Description: python module for creating a http server which uses WebSockets
 This module uses the network module to create a server, and implements http(s)
 and WebSockets over those connections.  With only 6 lines of code you have a
 working system.  You only have to add what you want your server to do.

Package: python3-websockets
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-network
Description: python module for creating a http server which uses WebSockets
 This module uses the network module to create a server, and implements http(s)
 and WebSockets over those connections.  With only 6 lines of code you have a
 working system.  You only have to add what you want your server to do.
